:root {
    --base-color: #708A81;
    --primary-color-dark: #2B2129;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

/* Header Navbar */

.header {
    background-color: var(--primary-color-dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 4px 100px 4px 40px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 25px #0006;
}

.nav{
    width: 600px;
}

.nav__ul {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: var(--base-color);
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: box-shadow 0.2s;
    margin: 2px;
    font-weight: bold;
}

.nav__link:hover {
    box-shadow: 0 0 5px var(--base-color);
}
.header__logo--container{
    text-align: center;
}

.header__logo {
    width: 300px;
    color: var(--base-color);
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Contenido */

.content {
    width: 100%;
    background-color: var(--base-color);
}

.home {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
}

.home__details {
    padding: 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.details__title {
    font-size: 3.5rem;
    margin: 0;
    color: var(--primary-color-dark);
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details__subtitle {
    font-size: 2rem;
    margin: 5px;
    color: var(--primary-color-dark);
    font-style: italic;
    font-weight: 400;
}

.details__mail {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 100;
}

.details__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item--cv {
    font-size: 1rem;
    box-shadow: 0 0 10px var(--primary-color-dark);
    border-radius: 20px;
    background-color: var(--primary-color-dark);
    color: var(--base-color);
    font-weight: bold;
    padding: 18px 32px;
    text-decoration: none;
    margin-top: 60px;
}

.home__img {
    width: 250px;
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0 0 30px #0008;
}

/* Sobre Mi */

.section__one {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--base-color);
}

.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__details {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.about__title {
    text-align: center;
    color: var(--primary-color-dark);
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.about__paragraph {
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
}

.about__language {
}

.language__ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.language__item {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0003;
    background-color: var(--primary-color-dark);
    color: var(--base-color);
    font-size: 0.7rem;
    font-weight: bold;
}

.about__img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin-left: 40px;
}

/* Proyectos */

.section__two {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--base-color);
}

.section__two--title {
    color: var(--primary-color-dark);
    text-align: center;
    margin: 0;
    margin: 50px 0;
    font-size: 2.5rem;
}

.section__two--details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.project {
    width: 700px;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 0 10px var(--primary-color-dark);
    background-color: var(--primary-color-dark);
}

.project__img {
    width: 250px;
    border-radius: 30px;
}

.project__details {
    text-align: center;
    margin-left: 50px;
}

.project__name {
    color: var(--base-color);
}

.project__info {
    color: var(--base-color);
}

.project__tecnologys {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 25px 0;
    gap: 20px;
}

.tecnology {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--base-color);
    color: var(--primary-color-dark);
    background-color: var(--base-color);
    font-size: 0.7rem;
    font-weight: bold;
}

.project__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0 20px;
}

.button {
    font-size: 1rem;
    box-shadow: 0 0 6px var(--base-color);
    border-radius: 20px;
    background-color: var(--base-color);
    color: var(--primary-color-dark);
    font-weight: bold;
    padding: 16px 30px;
    text-decoration: none;
}

/* Conctacto */

.section__three {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color);
}

.contact__title {
    width: 600px;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 100;
}

.contact__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
}

.contact__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px var(--primary-color-dark) ;
    padding: 20px 30px;
    border-radius: 8px;
    color: var(--primary-color-dark);
    background-color: #fff3
}

.card__icon {
    font-size: 1.5rem;
    margin-right: 20px;
}

.card__p {
}

/* Footer */

.footer {
    width: 100%;
    height: auto;
}

.footer__content {
    background-color: var(--primary-color-dark);
    text-align: center;
    padding: 20px 0;
    margin: 0;
    color: var(--base-color);
    font-weight: bold;
}

/* Responsive Desing*/

@media screen and (max-width:700px) {

    /* Navbar */

    .header {
        flex-direction: column;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    .nav{
        width: 100%;
    }

    .nav__ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
    }

    .nav__item {
        width: 150px;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__link {
        text-align: center;
    }

    .header__logo--container{
        width: 100%;
    }

    .header__logo {
        width: 100%;
        text-align: center;
    }

    /* Header */

    .home__details {
        width: 100%;
    }
    .home__img {
        margin: 20px 0 40px 0;
    }

    /* Sobre Mi */

    .content {
        margin: 0;
        width: 100%;
    }

    .section__one {
        padding-top: 30px;
    }

    .about {
        flex-direction: column;
        gap: 20px;
    }

    .about__details {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__paragraph {
        width: 70%;
        text-align: center;
    }

    .language__ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .language__item {
        width: max-content;
        text-align: center;
    }

    .about__img {
        margin: 0;
        width: 70%;
        margin-bottom: 30px;
    }

    /* Proyectos */

    .section__two {
        width: 100%;
        padding-bottom: 30px;
    }

    .project {
        width: 200px;
        flex-direction: column;
    }

    .project__img {
        width: 100%;
    }

    .project__details {
        margin: 0;
    }
    .project__info {
        width: 100%;
    }

    .project__tecnologys {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tecnology {
        width: max-content;
    }

    /* Conctacto */

    .section__three {
        width: 100%;
    }

    .contact__title {
        width: 90%;
    }

    .contact__content {
        flex-direction: column;
        width: 80%;
    }

    .contact__card {
        justify-content: center;
        align-items: center;
    }
}